@import "fonts";
@import "mixin";

body, section, header, footer {padding: 0; margin: 0;}

.container {
    width: 960px;
    margin: 0 auto;
}

body {
    background: #ededed;
    font-family: "HelveticaRegular";
      background-color: #ebebec;
    background-image: -webkit-radial-gradient(center, #ebebec, #b4b4b4);
    background-image: -moz-radial-gradient(center, #ebebec, #b4b4b4);
    background-image: radial-gradient(center, #ebebec, #b4b4b4);
    min-height: 600px;
}

  

.head {
    & h1 {
        text-align: center;
        font-family: "HelveticaBold";
        color: #EFEFEF;
        margin-bottom: 10px;
    }
    & h2 {
        text-align: center;

    color: #E2E2E2;
    font-weight: normal;
    font-size: 12pt;
    margin-top: 0;
         font-family: "HelveticaRegular";
    }
    .fileform { 
        background-color: #FFFFFF;
        cursor: pointer;
        overflow: hidden;
        position: relative;
        height: 60px;
        text-align: left;
        vertical-align: middle;
        width: 518px;
        margin: 30px auto;
        & .selectbutton { 
            background-color: #ccc;
            color: #464646;
            border: 1px solid #ccc;
            float: right;
            font-size: 16px;
            line-height: 20px;
            overflow: hidden;
            text-align: center;
            vertical-align: middle;
               padding: 19px 40px;
    transition: .3s;
    position: relative;
    z-index: 200;
            &:hover {
                background:#fff;
                cursor: pointer;
            }
        }
        & #upload {
            position:absolute; 
            top:0; 
            left:0; 
            width:100%; 
            -moz-opacity: 0; 
            filter: alpha(opacity=0); 
            opacity: 0; 
            font-size: 150px; 
            height: 30px; 
            z-index:20;
        }
        & #fileformlabel { 
            background-color: #FFFFFF;
            float: left;
            line-height: 22px;
            overflow: hidden;
            text-align: left;
            vertical-align: middle;
            width: 370px;
            padding: 20px 0 20px 10px;
        }
    }
    .box {
        background: #f1f1f1;
            width: 600px;
    margin: 0 auto;
        padding: 15px;
            margin-top: 50px;
        background-color: #373a3d;
    background-image: -webkit-linear-gradient(top, #373a3d, #313437);
    background-image: -moz-linear-gradient(top, #373a3d, #313437);
    background-image: linear-gradient(top, #373a3d, #313437);
    padding: 30px;
    border-radius: 3px;
    margin: 90px auto 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }
    #sub {
        background-color: #ccc;
        border: 1px solid #ccc;
    color: #464646;
    float: right;
    margin-right: 40px;
    font-size: 16px;
    line-height: 20px;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    width: 240px;
    padding: 20px 40px;
         transition: .3s;
         font-family: "HelveticaRegular";
        &:hover {
            background:#fff;
        cursor: pointer;
        }
    }
    #del {
            background-color: #ff4f4f;
        border: 1px solid #ff4f4f;
    color: #fff;
    float: left;
    margin-left: 40px;
    font-size: 16px;
    line-height: 20px;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    width: 240px;
         font-family: "HelveticaRegular";
    padding: 20px 40px;
        transition: .3s;
    }
    #del:hover {
        background:#fff;
        cursor: pointer;
        color: #ff4f4f;
        
    }
}
.clear {
        clear: both;
    margin-bottom: 20px;
}
.success {
    display: none;
    padding-top: 30px;
    color: #ccc;
    text-align: center;
}
.delim {
    margin-top: 40px;
    display: none;
        border-top: 1px solid #2b2e31;
    border-bottom: 1px solid #3d4043;
}